.all-problems
{
  display: flex;
  flex-direction: column;
  justify-content: baseline;

  .heading{
    margin-bottom: 20px;
  }

  .problem-card{
    margin-left: 20px;
    margin-bottom: 5px;
    width: 40vw;
    outline: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
    display: flex;

    .problem-name{
      justify-content: flex-start;
    }
  }

  .select{
    width: 15vw;
    margin-left: 20px;
    height: 40px;
    border-radius: 10px;
  }
}